#documents-content {
    background-color: #FEFBEA;
    border: 20px solid #FFD8AF;
    height: 100%;
    width: 100%;
    padding: 0px 24px 24px 24px;
}

#documents-wrapper {
    display: flex;
    flex-direction: row;
}

#documents-image {
    width: 50%;
    height: auto;
}

#documents-top-content {
    display: inline-block;
    flex: 1;
}
