
/* GLOBAL VARIABLES */
:root {
    --main-background-color: #120329; /* choices: #b7befa, #120329 */
    --alt-background-color: #b7befa;
    --text-color: black; /* choices: black, white, #130E48, #270e48 */ 
    --site-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
    background-color: var(--main-background-color);
    height: 100%;
    /* font-family: 'Raleway', sans-serif; */
    font-family: var(--site-font-family);
    font-size: 18px;
    color: var(--text-color);
    background-image: url('../img/windows-background.png')
}

table {
       -webkit-overflow-scrolling: touch;
      /* overflow-x: auto; 
      display: block;*/
    }

img.staff-pic {
    background-color: white;
}

a.nav-button {
    border-bottom: none !important;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

a.active {
    color: white;
    opacity: 1;
    
}

a.active:hover {
    cursor: pointer;
    opacity: 1;
}

.nav-button {
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-shadow: 0px 0px 10px #fff;
    color: black;
    font-family: 'HelveticaNeue-Light', sans-serif;
}

a.nav-button:hover {
    text-decoration: underline;
    /* background-color: #b57713 !important;  The color doesn't look great*/
    /*border-bottom: solid 0.25em rgba(161, 198, 255, 1)  !important;*/
    cursor: pointer;
    /* border-bottom: solid 0.25em #3b0d02  !important; */
    opacity: 1 !important;
}

.nav-button-center {
    display: flex;
    align-items: center;
}
h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    /* text-decoration: underline; */
    font-weight: bolder;
}

header {
    text-align: center;
    font-weight: bolder;
    color: #F4E878;
    font-size: 20px;
}

a.no-underline-a {
    border-bottom: none !important;
    color: black;
    text-decoration: none;
}

a:hover {
    /* border-bottom: solid 2px #378aba; */
    text-decoration: none;
    /* color: rgba(161, 198, 255, 1); */
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 1em;
    position: absolute;
    width: 95%;
    bottom: 0;
}

#footer-wrapper {
    display: none;
}

#content-wrapper {
    --vertical-padding: 5%;
    --horizontal-margin: 5%;
    min-height: 800px;
    padding-top: 0;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

button {
    cursor: pointer;
    color: black;
    box-shadow: 1px 1px 0 black;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #848484;
    border-bottom: 1px solid #848484;
}

/* WINDOWS 2000 STYLE CONTAINERS */

.window {
    color: black;
    background-color: silver;
    box-shadow: 1px 1px 0 black;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #848484;
    border-bottom: 1px solid #848484;
    display: flex;
    flex-direction: column;
}

.window-top-bar {
    border-top: 1px solid white;
    border-bottom: 1px solid black;
    background: linear-gradient(to right,#0b2282,#237dc5);
}

.window-label {
    cursor: move;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 4px 1em;
}

.window-x {
    cursor: not-allowed;
    margin-top: auto;
    margin-bottom: auto;
}

.window-toolbar {
    padding: 4px 1em;
    border-bottom: 1px solid gray;
    box-shadow: 0 1px black;
}

.underline {
    text-decoration: underline;
}

.window-toolbar>span {
    margin-right: 10px;
    cursor: help;
}

.window-content {
    padding: 1em;
    background: white;
    flex-grow: 1;
}

/* HOMEPAGE */


#title {
    text-align: center;
    font-size:100px;
}

#title-img {
    width:100%;
}

.menu-button {
    display: none;
}

.menu-button div{
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 40px;
    margin: 5px;
}

#inner-content {
    width: 100%;
}

#inner-content div{
    margin: 10px;
}

#documents-content {
    min-height: 100%;
    width: 100%;
    padding: 0px 24px 24px 24px;
}

#documents-wrapper {
    display: flex;
    flex-direction: row;
    max-height: 50%;
}

#documents-image {
    width: 50%;
    height: inherit;
}

#documents-top-content {
    display: inline-block;
    flex: 1;
}

@media (max-width: 785px) {
    body {
        overflow-x: hidden;
    }
    .menu-button {
        display: block;
    }
    #sidebar {
        background-color: rgba(26, 5, 59, 1);
        position: fixed;
        right: 0px;
        height: 100%;
        top: 10%;
        width: 75%;
        z-index: 99999;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    #sidebar div{
        opacity: 0;
    }
    .content {
    	padding: 2% 4% !important;
    }
    #content-wrapper {
        margin-left: 0%;
        margin-right: 0%;
	margin-bottom: 0%;
    }
    #footer {
    	display: none;
    }
    body {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    table {
        width: 100%;
         -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}


.sidebar-active {
    transform: translateX(0%);
}

@keyframes navButtonFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.content {
    min-height: 100%;
    margin-left: 1% auto;
    margin-right: 1% auto;
    padding: 5%;
    position: relative;
    border-radius: 8px;
}


/* HOMEPAGE */
#homepage-content {
    padding: 0;
}

#content-top {
    text-align: center;
}

#content-top h1 {
    font-size: 40%;
}

#content-top p {
    text-align: center;
}

#about {
    overflow: hidden;
}

#about .hidden-p {
    max-height: 0;
    opacity: 0;
    transition: max-height 2s ease-out;
}

#about:hover .hidden-p {
    /* max-height: 200px;
    opacity: 100;
    transition: max-height 2s ease-in; */
}

.grid-container {
    display:grid;
    /* Possible template arrangement */
    grid-template-areas: 
        "assignments assignments assignments links"
        "feedback feedback calendar calendar";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
}

@media (max-width: 786px) {
    .window {
        max-width: 90vw;
    }

    /* Change the grid layout on mobile*/
    .grid-container {
        grid-template-areas: 
        "assignments"
        "calendar"
        "feedback"
        "links";
        grid-template-columns: 1fr;
        width: 100vw;
        overflow: auto;
    }
}

#current-assignments {
    grid-area: assignments;
    min-width: 70%;
}

#hours-schedule {
    grid-area: calendar;
}

#calendar-container {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#feedback {
    grid-area: feedback;
}

.centered {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#quick-links {
    grid-area: links;
}

#quick-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    height: 100%;
}

#quick-links-container>.col-flex {
    justify-content: space-around;
}

#quick-links button {
    width: 100%;

}

#current-assignments a {
    color: black;
    text-decoration: underline;
}

.col-flex {
    display:flex;
    flex-direction: column;
}

.assignment-container {
    color: black;
}

.assignment-container>div {
    font-size: 15px;
    display:flex;
    justify-content: space-between;
}

@media (min-width: 786px) {
    #sidebar {
        display: block;
        overflow: hidden;
        display: flex;
        justify-content: center;
        transform: translateX(0%);

    }
    #sidebar-open {
      display: hidden;
    }
}

#header-pic {
    background-image: url("../img/header-pic.png");
    background-size: cover;
    background-color: #859aa0;
    height: 200px;
}

body {
    background-size: cover;
}

#quick-links-container {
    display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 100%;
		flex-direction: row;
		justify-content: space-around;
		text-align: center;
}

#nav-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-around;
    min-height: 40px;
    width: 100%;
    color: black;
}

.fa.fa-bars {
    display: none;
}

.black-bg {
    background-color: black;
}

table {
    background-color: rgba(26, 5, 59, .94);
    border-collapse: separate;
    border-spacing: 0px 10px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 3em;
    width: 100%;
}

tbody {
    display: table-row-group;
    width: 100%;
}

tr {
  color: rgba(26, 5, 59, .94);
  background-color: white;
  border-color: rgba(26, 5, 59, 1);
}

tr:hover {
    background-color: #FFFAC9;
    ;
}

table a {
  color: rgba(26, 5, 59, .94);
}

th {
    background-color: rgba(26, 5, 59, 1);
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 6px;
    /*border: 1px solid #ccc;*/
    text-align: left;
}

td:first-child {
  border-radius: 10px 0 0 10px;
}
td:last-child {
  border-radius: 0 10px 10px 0;
}

#staff-mega-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.staff-pic {
    width: 310px;
    height: 310px;
    display: block;
    background-color: black;
    object-fit: cover;
}

.staff-pic-wrapper {
    width: 310px;
    min-height: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(18, 3, 41, 1);
    border-radius: 2%;
    overflow: hidden;
    padding: 15px;
    padding-top: 0px;
}

.staff-pic-text {
    overflow-wrap: all;
    font-size: 15pt;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    margin-bottom: 0;
}

.staff-pic-text-soft {
    overflow-wrap: all;
    font-size: 12pt;
    /* font-weight: bold; */
    padding-top: 10px;
    text-align: center;
    margin-bottom: 0;
}

.person-container {
    display: inline-block;
    width: 350px;
    height: 450px;
    padding: 1%;
}

p {
  text-align: left;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.staff-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.row-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

#content-tab-top {
    content: "";
    height: 15vh;
    width: 100px;
    display: block;
    position: absolute;
    transform: translate(-25px);
    background-color: #F9C28C;
    border-radius: 25px;
    z-index: -1;
    box-shadow: 0 0px 5px black;
}

#content-tab-bottom-home {
    content: "";
    min-height: 100vh;
    width: 100px;
    display: block;
    position: absolute;
    transform: translate(-25px);
    background-color: #F9C28C;
    border-radius: 5px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    z-index: -2;
    box-shadow: inset -70px 0 70px -20px #AD8761;
}

#content-tab-bottom {
    content: "";
    min-height: 100vh;
    width: 100px;
    display: block;
    position: absolute;
    transform: translate(-25px);
    background-color: #F9C28C;
    border-radius: 5px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    z-index: -2;
}

#postit-note {
    width: 180px;
    min-height: 150px;
    text-align: center;
    position: absolute;
    background-color: #fdf100;
    left: 65%;
    box-shadow: 0px 21px 41px -26px rgba(0,0,0,0.75);
}

a:visited, a:active, a:focus {
    text-decoration: none;
}



/*New CSS for Resources page*/
.resource_box {
    padding: 10px;
    border: 2px solid rgba(179, 4, 94, 1);
    color:#FFFAC9;
    background-color: rgba(57, 56, 133, .5);
    border-radius: 15px;
    margin: 0px 10px 10px;
    max-height: 0;
    min-height: 60px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible {
    color: #FFFAC9;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

.button_format{
    color:#FFFAC9;
    background-color: transparent;
    font-size: 25px;
    max-height: 0;
    min-height: 50px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: flex;
    justify-content: space-between;
}


.useful_links {
    padding: 10px;
    border: 2px solid rgba(179, 4, 94, 1);
    color:#FFFAC9;
    background-color: rgba(57, 56, 133, .5);
    border-radius: 15px;
    margin: 0px 10px 10px;
}

@media (min-width: 786px) {
    .left {
        width:  25%;
    }

    .right {
        width:  70%;
  }
      
    .lectures-container {
        width:  70%;
        padding: 10px;
    }

    .sections-container {
        width:  30%;
        padding: 10px;
    }
}

@media (max-width: 786px) {
    .left {
        width:  100%;
    }

    .right {
        width:  100%;
    }
  
  .lectures-container {
        width:  100%;
        padding: 10px;
    }

    .sections-container {
        width:  100%;
        padding: 10px;
    }
}

.quick-links-2 {
    font-size: .75em;
  	border-radius: 0.25em;
  	border: solid 1px black;
  	width: 25%;
  	padding: 0.75em;
  	min-width: 200px;
    margin: .3em auto;
    background-color: #D7D4FB;
    color: black;
}

a.quick-links-link-2 {
    color: black !important;
}

.heading {
    font-size: 25px;
    font-weight: bold;
}

.email {
    font-style: italic;
}

.resource_header{
    margin: 0px 10px 10px 10px;
    padding: 5px;
}

i {
    margin: 2px;
}

.subtext {
    font-size: 12px;
    color:  #454545;
    margin-top: 8px;
}

.filter {
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    background-color: purple;
    cursor: pointer;
}

.filter:hover {
    background-color: green;
}

.clear-filters {
    font-style: italic;
    cursor: pointer;
    opacity: 0.75;
}

.clicked {
    background-color: blue;
}
